*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: black;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
}

.logoawax{
    background-color: chocolate;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
.logo{
    width:100px ;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    text-decoration: none;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding-left:10px;
    padding-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgba(255, 68, 0, 0);
    font-size: 14px;
}
.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid chocolate;
}



.banner{
    height: calc(100vh - 100px);
    background-color: rgb(201, 201, 201);
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .sliders{
    width: 300vw;
    height: 100%;
    flex-direction: row;
    display: flex;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}.banner .slide h1{
    font-size: 50px;
}
.slide h1 span{
    color: chocolate;
}
.slide p{
    margin-top: 30px;
    font-size: 20px;
}
button{
    margin-top: 30px;
    padding: 13px;
    font-weight: 700;
    font-size: 12px;
    width: 160px;
    background: chocolate;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}


.banner .slider_button{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner .point{
    width: 15px;
    height: 15px;
    border: 2px solid chocolate;
    border-radius:10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .point:hover{
    border: 3px solid chocolate;
}

.contato{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: -30px;
    position: absolute;
    
}
.contato .tel_icon{
    width: 50px;
    height: 50px;
    background-color: chocolate;
    margin-right: 80px;
    border-radius: 25px;
    display: flex;
    justify-content:center ;
    align-items: center;
    box-shadow: 0 0 10px ;
    cursor: pointer;
}
.tel_icon img{
    object-fit: fill;
    width: 30px;
    height: 30px;
}




.titulo p{
    color: rgb(175, 175, 175);
    font-size: 13px;
}
.titulo h1{
    font-size: 25px;
}
.titulo h1 p{
    font-weight: 500;
}


.white{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.white_conteudo{
    margin: auto;
    width: 1140px;
    margin-top: 30px;
}


/*black, white*/
    
.black{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
}
.black{
    color: white;
}
.black_conteudo{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1140px;
}





/*about us*/

.text{
    flex: 2;
    height: 100%;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.text p{
    font-size: 15px;
    text-align: left;
    font-weight:500;
}
.imagem{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.imagem img{
    width: 400px;
    box-shadow: 0 0 20px ;
    opacity: 0.9;
}
.about{
    display: flex;
    flex-direction: row;
}





/*SERVICES*/

.habilidades{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
   
}
.skills{
    flex: 1;
    border-left:1px solid rgba(146, 146, 146, 0.527);
    border-right:1px solid rgba(146, 146, 146, 0.521);
    padding-right:25px;  
    padding-left:25px;  
}
.skills img{
    margin-top: 10px;
    margin-bottom: 30px;
}
.skills h1{
    font-size: 20px;
    text-transform: uppercase;
}
.skills p{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
    color: rgba(146, 146, 146, 0.678);
}




/*our projects*/

.categoria{
    display: flex;
    justify-content: center;
    
}
.categoria ul{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid rgb(175, 175, 175);
    box-shadow: 0 1px 10px rgb(175, 175, 175);
}
.categoria ul li{
    list-style: none;
    border-right: 1px solid rgb(175, 175, 175);
    border-left: 1px solid rgb(175, 175, 175);
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
}
.categoria ul li:hover{
    border-bottom: 4px solid chocolate;
}
/*categoria_photos*/
.categoria_photos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 33px;
    margin-top: 20px;
}
.photos{
    background-color: brown;
    width: 260px;
    height: 200px;
    color: rgba(250, 235, 215, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.photos span{
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photos span:hover{
    background-color: rgba(0, 0, 0, 0.336);
    color: rgb(255, 255, 255);
}
.photos_design1{
    background-image: url(../../midia/foto1.jpg);
    background-size: cover;
}
.photos_design2{
    background-image: url(../../midia/foto2.jpg);
    background-size: cover;
}
.photos_design3{
    background-image: url(../../midia/foto3.jpg);
    background-size: cover;
}
.photos_design4{
    background-image: url(../../midia/foto4.jpg);
    background-size: cover;
}
.photos_design5{
    background-image: url(../../midia/foto5.jpg);
    background-size: cover;
}
.photos_design6{
    background-image: url(../../midia/foto6.jpg);
    background-size: cover;
}
.photos_design7{
    background-image: url(../../midia/foto7.jpg);
    background-size: cover;
}
.photos_design8{
    background-image: url(../../midia/foto8.jpg);
    background-size: cover;
}
.photos_design9{
    background-image: url(../../midia/foto9.jpg);
    background-size: cover;
}
.photos_design10{
    background-image: url(../../midia/foto2.jpg);
    background-size: cover;
}
.photos_design11{
    background-image: url(../../midia/foto3.jpg);
    background-size: cover;
}
.photos_design12{
    background-image: url(../../midia/foto4.jpg);
    background-size: cover;
}



/*OUR TEAM*/
.sombra{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
}
.black_photo{
    background-image:url(../../midia/foto6.jpg);
    background-size: cover;
    margin-bottom: 30px;
    margin-top: 30px;
}
.black_photo{
    color: white;
}

.sombra{
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    
}
/**/
.team{
    max-width: 1140px;
    height: 400px;
    margin: auto;
    display: flex;
    margin-top: 30px;
    gap: 30px;
}
.team .perfil{
    background-color: white;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.foto img{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.perfil ul{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.perfil ul li{
    list-style: none;
    background-color: rgb(163, 163, 163);
    width: 35px;
    height: 35px;
    margin: 2px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.perfil ul li:hover{
    background-color: chocolate;
}
.slider_button{
    margin-top: 20px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;

}
.point{
    width: 15px;
    height: 15px;
    border: 2px solid chocolate;
    border-radius:10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.point:hover{
    border: 3px solid chocolate;
}



/*HAPPY CLIENTS*/

.perfil_clients img{
    margin-top: 30px;
}
.perfil_clients h1{
    margin-bottom: 15px;
}
.perfil_clients p{
    font-weight: 600;
}
.sobre{
    display: flex;
    justify-content: center;
}
.sobre p{
    font-size: 14px;
    line-height: 25px;
    max-width: 600px;
    font-weight: 600;
    color: rgb(83, 83, 83);
}

.perfil_clients .slider_button{
    margin-top: 20px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.perfil_clients .point{
    width: 15px;
    height: 15px;
    border: 2px solid chocolate;
    border-radius:10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.perfil_clients .point:hover{
    border: 3px solid chocolate;
}
/**/
.supporters{
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(175, 175, 175);
}
.supporters_conteudo{
    margin: auto;
    max-width: 1140px;
    display: flex;
    gap: 20px;
}
.supporters_img{
    flex: 1;
}


/*price*/
.price{
    background-color: rgba(230, 230, 230, 0.781);
    color: black;
    border-top: 2px solid rgb(175, 175, 175);
    border-bottom: 1px solid rgba(175, 175, 175, 0.76);
}
.assinaturas{
    display: flex;
    gap: 30px;
}
.assinaturas button{
    background-color: rgb(49, 49, 49);
}
.assinaturas button:hover{
    background-color: chocolate;
}
.preços{
    background-color: white;
    flex: 1;
    height: 400px;
    color: black;
}
.preços h1{
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
}
.preços h2{
    font-size: 30px;
}
.preços p{
    font-size: 12px;
    line-height: 25px;
}



/*premium*/

.premium{
    display: flex;
    border-bottom: 1px solid rgba(175, 175, 175, 0.76);
    padding-bottom: 20PX;
}
.premium_img{
    flex: 1;
}
.premium_vantagem{
    flex: 1;
}
/**/
.escritas{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.escrita{
    text-align: left;
    line-height: 25px;
    margin-left: 20px;
    
   
}
.escrita h1{
    text-transform: uppercase;
    
}
.escrita p{
    font-size: 14px;
    
}



/*some facts*/

.facts{
    display: flex;
    gap: 1px;
}
.facts_conteudo{
    flex: 1;
    padding: 22px;
}
.facts_conteudo h1{
    color: chocolate;
    font-size: 50px;
}
.facts_conteudo h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.facts_conteudo p{
    color: rgb(150, 150, 150);
    font-size: 13px;
    font-weight: 600;
}


/*contact us*/

.contact{
    max-width: 500px;
    margin: auto;
}
.contact input{
    height: 30px;
    margin-top: 30px;
    border-bottom: 2px solid rgba(150, 150, 150, 0.829);
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    width: 247PX;
}
#subject{
    width: 500px;
}
#message{
    width: 500px;
}


/*mapa*/

.mapa{
    margin-top: 80px;
}
.mapa img{
    border-top: 1px solid rgb(156, 156, 156);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.521);
    width: 100vw;
    height: 300px;
    object-fit: cover;
}

/*final*/
footer{
    background-color: black;
    display: flex;
    
}
.part_1{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.part_1 ul{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.part_1 ul li{
    list-style: none;
    background-color: rgb(87, 87, 87);
    width: 35px;
    height: 35px;
    margin: 2px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.part_1 h1{
    color: white;
    font-size: 15px;
}


/*final2*/
.part_2{
    flex: 2;
    display: flex;
    padding-bottom: 10px;
    padding-top: 20px;
}
.escrita{
    width:400px;
}
.escrita p{
    font-size: 11px;
    font-weight: 600;
    color: rgb(102, 102, 102);
}
/**/
.email{
    background-color: rgba(68, 68, 68, 0.795);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.email input{
    height: 30px;
    margin-top: 30px;
    border-bottom: 2px solid rgba(189, 189, 189, 0.829);
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-left: 2px solid rgba(255, 255, 255, 0);
    border-right: 2px solid rgba(255, 255, 255, 0);
    width: 247PX;
    background: none;
    text-align: center;
}



@media (max-width:830px){
    /*header*/
    header{
        padding-left:30px;
    }
    .menu{
       display: none;
    }
    .banner .slide h1{
        font-size: 30px;
    }

    .black_conteudo{
        width: auto;
    }
    .white_conteudo{
        width: 100%;
    }


    /*about*/

    .about{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text p{
        font-size: 15px;
        font-weight:500;
        text-align: center;
    }
    .imagem{
        display: flex;
        justify-content:center;
        margin-top: 30px;
    }
    .imagem img{
        width: 80%;
    }



    /*services*/
    .habilidades{
        width: 100%;
        display: flex;
       flex-direction: column;
       
    }



    /*our projects*/
    .categoria{
       width: 100%;
    }
    .categoria ul{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
       
    }
    .categoria ul li{
        height: auto;
    }
    .photos_design7,
    .photos_design8,
    .photos_design9,
    .photos_design10,
    .photos_design11,
    .photos_design12{
        display: none;
    }



    
    /*our team*/
    .team .team1, .team .team3{
       display: none;
    }



    /*happy clients*/
    .supporters_conteudo{
        flex-wrap: wrap;
    }



    /*price*/
    .assinaturas{
        display: flex;
        flex-direction: column;
    }
    .assinaturas button{
        background-color: rgb(49, 49, 49);
    }
    


    

    /*premium*/
    .premium{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    .premium_img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .premium_img img{
        width: 200px;
        margin-left: 80px;
    }
    /**/
    .escrita{
        text-align: center;
        margin-left: 0px;
        width: 100%;
    }




    /*some facts*/
    .facts{
        display: flex;
        flex-direction: column;
    }



    /*contact us*/
    #subject{
        width: 247px;
    }
    #message{
        width: 247px;
    }

    /*final*/
    footer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .part_2{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .email{
        width: auto;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}
